<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean id="welcomeBean" class="mypack.WelcomeBean">
	</bean>
	<bean id="customerBean" class="mypack.CustomerBean">
	</bean>
<!-- 
	<bean id="customerBean2" class="mypack.CustomerBean">
		<property name="CustomerId" value="123"></property>
		<property name="CustomerName" value="ABC2"></property>
		<property name="addresses">
			<list>
				
				<ref bean="addressBean"></ref>
			</list>
		</property>
	</bean> -->

	<bean id="employeeBean" class="mypack.Employee">
		<constructor-arg value="CKP"></constructor-arg>
		<constructor-arg value="ABC"></constructor-arg>
		<constructor-arg ref="addressBean"></constructor-arg>

	</bean>

	<bean id="employeeBean2" class="mypack.Employee">
		<property name="ename" value="CKP2"></property>
		<property name="role" value="ABC2"></property>
		<property name="address" ref="addressBean">

		</property>

	</bean>
	
	<bean id="employeeBean3" class="mypack.Employee" autowire="byName">
		<property name="ename" value="CKP2"></property>
		<property name="role" value="ABC2"></property>
		

	</bean>
	
	
<!-- 	<bean id="employeeBean4" class="mypack.Employee" autowire="byType">
		<property name="ename" value="CKP4"></property>
		<property name="role" value="ABC4"></property>
		

	</bean>
	
		
	<bean id="employeeBean5" class="mypack.Employee" autowire="constructor">
		<constructor-arg name="ename" value="CKP5"></constructor-arg>
		<constructor-arg name="role" value="ABC5"></constructor-arg>
		

	</bean> -->
	
	<bean id="address" class="mypack.Address">
		<constructor-arg value="BRC"></constructor-arg>
		<constructor-arg value="123"></constructor-arg>

	</bean>
	
	<bean id="addressBean" class="mypack.Address">
		<constructor-arg value="BVN"></constructor-arg>
		<constructor-arg value="123"></constructor-arg>

	</bean>

	<bean id="addressBean2" class="mypack.Address">
		<constructor-arg value="AMD"></constructor-arg>
		<constructor-arg value="123"></constructor-arg>

	</bean>

</beans>